{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/detailnews.css">
{{/fillHtmlContent}}

<div class="card-body pr-0 pl-0" id="body">

    <!-- Bài viết -->
    <div id="article">
        <h5>{{news.Title}}</h5>
        <div class="b_title">
            <div class="date">
                {{!-- <a>Ngày đăng:</a> --}}
                <a>{{formatDate news.Date}}</a>
            </div>
            <div class="author">
                <a>Tác giả:</a>
                <a href="#">{{news.WriterName}}</a>
            </div>
        </div>
        <img src="/imgs/detail/suôi thầu.jpg">
        <div class="content">
            <p>The sound of war is loud at night in Beirut’s eastern Achrafieh neighbourhood.
                Residents can hear Israeli air strikes hitting the Lebanese capital’s southern suburbs, known as
                Dahieh. Some can even see the explosions lighting up the sky from their balconies.
                However, on the streets it is quiet. Volunteers in uniform are patrolling the predominantly
                Christian neighbourhood holding walkie-talkies to co-ordinate their operation.
                The neighbourhood watch was formed a few years ago following the financial crisis that hit
                Lebanon to reassure residents worried about crime. But with recent developments, the mission has
                changed.
                "We have concerns with displaced people who are coming in huge numbers to Beirut, and they have
                a lot of needs, and it is very complicated,” says Nadim Gemayel, who formed the organisation
                behind the neighbourhood watch.
                Communities across Lebanon rallied to help house and feed the hundreds of thousands of families
                who were displaced when Israel escalated its air campaign against Hezbollah last month before
                launching a ground invasion of the south.
                However, an influx of people from the predominantly Shia Muslim areas where the Iran-backed
                group has a strong presence - Dahieh, south Lebanon, and the Bekaa Valley in the east - into
                places which are majority Sunni Muslim and Christian also risk exacerbating sectarian divisions
                in a country where memories of the 1975-1990 civil war are still vivid.
                Recent Israeli attacks on those areas has only served to heighten tensions between residents and
                the displaced.
                A strike on 14 October in the northern town of Aitou, which killed 23 displaced people, shook
                the Christian community.
            </p>
            <img src="/imgs/detail/suôi thầu3.jpg">
            <p>
                The sound of war is loud at night in Beirut’s eastern Achrafieh neighbourhood.
                Residents can hear Israeli air strikes hitting the Lebanese capital’s southern suburbs, known as
                Dahieh. Some can even see the explosions lighting up the sky from their balconies.
                However, on the streets it is quiet. Volunteers in uniform are patrolling the predominantly
                Christian neighbourhood holding walkie-talkies to co-ordinate their operation.
                The neighbourhood watch was formed a few years ago following the financial crisis that hit
                Lebanon to reassure residents worried about crime. But with recent developments, the mission has
                changed.
                "We have concerns with displaced people who are coming in huge numbers to Beirut, and they have
                a lot of needs, and it is very complicated,” says Nadim Gemayel, who formed the organisation
                behind the neighbourhood watch.
                Communities across Lebanon rallied to help house and feed the hundreds of thousands of families
                who were displaced when Israel escalated its air campaign against Hezbollah last month before
                launching a ground invasion of the south.
                However, an influx of people from the predominantly Shia Muslim areas where the Iran-backed
                group has a strong presence - Dahieh, south Lebanon, and the Bekaa Valley in the east - into
                places which are majority Sunni Muslim and Christian also risk exacerbating sectarian divisions
                in a country where memories of the 1975-1990 civil war are still vivid.
                Recent Israeli attacks on those areas has only served to heighten tensions between residents and
                the displaced.
                A strike on 14 October in the northern town of Aitou, which killed 23 displaced people, shook
                the Christian community.
            </p>
            <img src="/imgs/detail/suôi thầu2.jpg">
            <p>
                Many here believe that Israel won’t stop until Hezbollah is completely disarmed.
                "Either all Lebanon will be destroyed by Israel which will be catastrophic, or they [Hezbollah]
                surrender and give up their arms, and we build a Lebanese state that will be based on the Taif
                agreement, and everyone has equal rights and obligations," says Nadim Gemayel.
            </p>
        </div>


    </div>
    <!-- tag -->
    <div id="nav-article">
        <div class="tag">
            <a>Tags:</a>
            {{#each tags}}
            <span class="badge badge-pill tags">{{this.TagName}}</span>
            {{/each}}
        </div>
    </div>
    <p>Lượt xem: {{news.Views}}</p>
    <!-- Bình luận -->
    <div id="cmt">
        <h3>Ý kiến</h3>
        <div class="your-comment" id="your-comment">
            <textarea id="commentInput" placeholder="Thêm bình luận mới...."></textarea>
            <input type="hidden" id="newsId" value="{{news.Id_News}}">
            <input type="hidden" id="userId" value="{{userId}}">
            <input type="hidden" id="userName" value="{{userName}}">


            <button type="button" id="submitComment">Gửi</button>
        </div>
        <div class="cmts">
            <a class="font-weight-bold ml-4 text-center">{{comments.length}} bình luận</a>
        </div>
        <div class="ours-comment">
            {{#each comments}}
            <div class="comment">
                <div class="img-container">
                    <div class="image">
                        <img src="/imgs/detail/biden.jpg" alt="Avatar">
                    </div>
                    <h6>{{this.UserName}}</h6>
                </div>
                <p>{{this.Comment}}</p>
                <small>{{formatDate this.Time}}</small>
            </div>
            {{/each}}
        </div>
    </div>


    {{!-- 10 bài viết liên quan tới tag bài viết hiện tại --}}
    <div id="article-related">
        <div class="title">
            <h4>10 bài viết liên quan tới tag bài viết hiện tại</h4>
            <div class="button-flex">
                <button onclick="scrollNext('bai-viet-lien-quan', 'very-first', -1)">Previous</button>
                <button onclick="scrollNext('bai-viet-lien-quan', 'very-first')">Next</button>
            </div>
        </div>
        <div class="top-article" id="bai-viet-lien-quan">
            {{#each relatedNews}}
            <div class="articles" id="very-first">
                <img src="/imgs/detail/bv.jpg" alt="...">
                <div class="card-body">
                    <a href="/news/{{this.Id_News}}">
                        <h5 class="card-title">{{this.Meta_title}}</h5>
                    </a>
                    <p class="card-text">{{this.Meta_description}}</p>
                </div>
            </div>
            {{else}}
            <p>Không có bài viết liên quan nào.</p>
            {{/each}}
        </div>
    </div>




    <!-- 10 bài viết nổi bật liên quan tới chuyên mục c1 của bài viết hiện tại -->
    <div id="article-related">
        <div class="title">
            <h4>10 bài viết nổi bật (nhiều lượt xem nhất) trong danh mục trong 1 tháng qua</h4>
            <div class="button-flex">
                <button onclick="scrollNext('bai-viet-noi-bat', 'very-second', -1)">Previous</button>
                <button onclick="scrollNext('bai-viet-noi-bat', 'very-second')">Next</button>
            </div>
        </div>
        <div class="top-article" id="bai-viet-noi-bat">
            {{#each topViewedNews}}
            <div class="articles" id="very-second">
                <img src="/imgs/detail/suôi thầu.jpg" alt="...">
                <div class="card-body">
                    <a href="/news/{{this.Id_News}}">
                        <h5 class="card-title">{{this.Meta_title}}</h5>
                    </a>
                    <p class="card-text">{{this.Meta_description}}</p>
                </div>
            </div>
            {{else}}
            <p>Không có bài viết nào.</p>
            {{/each}}
        </div>
    </div>




    <!-- 3 bài viết nổi bật trong 1 tuần vừa qua của mọi chuyên mục-->
    <div id="bai-viet-khac">
        <h3>3 bài viết nổi bật (nhiều view nhất) trong 1 tuần vừa qua của mọi chuyên mục</h3>
        <div id="article_list">
            {{#each topViewedLastWeek}}
            <a href="/news/{{this.Id_News}}">
                <img src="/imgs/detail/suôi thầu2.jpg" alt="">
                <div>
                    <h5>{{this.Meta_title}}</h5>
                    <p class="font-italic">{{this.Meta_description}}</p>
                </div>
            </a>
            {{else}}
            <p>Không có bài viết nào.</p>
            {{/each}}
        </div>
    </div>

    <p>{{news.Id_News}}</p>
    <p>{{userId}}</p>
</div>


{{#fillHtmlContent 'js'}}
<script src="/js/detailnews.js"></script>
{{/fillHtmlContent}}