{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/detailnews.css">
{{/fillHtmlContent}}

<div class="card-body pr-0 pl-0" id="body">
    {{!-- {{#if news.Premium}}
    {{#if isSubscriber}}
    {{else}}
    {{/if}}
    {{/if}} --}}

    <!-- Bài viết -->
    <div id="article">
        <h5>{{news.Title}}</h5>
        <div class="b_title">
            <div class="date">
                {{!-- <a>Ngày đăng:</a> --}}
                <p>{{formatDate news.Date}}</p>
            </div>
            <div class="author">
                <p>Lượt xem: {{news.Views}}</p>
            </div>
        </div>
        <img src="/imgs/uploads/{{news.Image}}">
        <div class="content">{{{news.Content}}}</div>
    </div>
    <!-- tag -->


    <div id="nav-article">
        <div class="tag">
            Tags:
            {{#each tags}}
            <span class="badge badge-pill tags">{{this.TagName}}</span>
            {{/each}}
        </div>
        <p>Tác giả: {{news.NickNameWriter}}</p>
    </div>

    <!-- Bình luận -->
    <div id="cmt">
        <h3>Ý kiến</h3>
        <div class="your-comment" id="your-comment">
            <textarea id="commentInput" placeholder="Thêm bình luận mới...."></textarea>
            <input type="hidden" id="newsId" value="{{news.Id_News}}">
            <input type="hidden" id="userId" value="{{userId}}">
            <input type="hidden" id="userName" value="{{userName}}">


            <button type="button" id="submitComment">Gửi</button>
        </div>
        <div class="cmts">
            <a class="font-weight-bold ml-4 text-center">{{comments.length}} bình luận</a>
        </div>
        <div class="ours-comment">
            {{#each comments}}
            <div class="comment">
                <div class="img-container">
                    <div class="image">
                        <img src="/imgs/detail/avatar_comment.png" alt="Avatar">
                    </div>
                    <h6>{{this.UserName}}</h6>
                </div>
                <p>{{this.Comment}}</p>
                <small>{{formatDate this.Time}}</small>
            </div>
            {{/each}}
        </div>
    </div>


    {{!-- 10 bài viết liên quan tới tag bài viết hiện tại --}}
    <div id="article-related">
        <div class="title">
            <h4>10 bài viết có nhãn liên quan bài viết hiện tại</h4>
            <div class="button-flex">
                <button onclick="scrollNext('bai-viet-lien-quan', 'very-first', -1)">Previous</button>
                <button onclick="scrollNext('bai-viet-lien-quan', 'very-first')">Next</button>
            </div>
        </div>
        <div class="top-article" id="bai-viet-lien-quan">
            {{#each relatedNews}}
            <a class="articles" id="very-first" href="/news/news?id={{Id_News}}&subcategory={{Id_SubCategory}}&category={{Id_Category}}">
                <img src="/imgs/uploads/{{this.Image}}" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{truncateText this.Meta_title 80}}</h5>
                    <p class="card-text">{{truncateText this.Meta_description 100}}</p>
                    <p class="card-text">{{formatDate this.Date}}</p>
                </div>
            </a>
            {{else}}
            <p>Không có bài viết liên quan nào.</p>
            {{/each}}
        </div>
    </div>




    <!-- 10 bài viết nổi bật liên quan tới chuyên mục c1 của bài viết hiện tại -->
    <div id="article-related">
        <div class="title">
            <h4>10 bài viết nổi bật của danh mục trong 1 tháng qua</h4>
            <div class="button-flex">
                <button onclick="scrollNext('bai-viet-noi-bat', 'very-second', -1)">Previous</button>
                <button onclick="scrollNext('bai-viet-noi-bat', 'very-second')">Next</button>
            </div>
        </div>
        <div class="top-article" id="bai-viet-noi-bat">
            {{#each topViewedNews}}
            <a class="articles" id="very-second" href="/news/news?id={{Id_News}}&subcategory={{Id_SubCategory}}&category={{Id_Category}}">
                <img src="/imgs/uploads/{{this.Image}}" alt="...">
                <div class="card-body-3">
                    <h5>{{truncateText this.Meta_title 100}}</h5>
                    <p>{{truncateText this.Meta_description 100}}</p>
                    <p class="date">{{formatDate this.Date}}</p>
                </div>
            </a>
            {{else}}
            <p>Không có bài viết nào.</p>
            {{/each}}
        </div>
    </div>




    <!-- 3 bài viết nổi bật trong 1 tuần vừa qua của mọi chuyên mục-->
    <div id="bai-viet-khac">
        <h3>Bài viết nổi bật trong 1 tuần vừa qua</h3>
        <div id="article_list">
            {{#each topViewedLastWeek}}
            <a href="/news/news?id={{Id_News}}&subcategory={{Id_SubCategory}}&category={{Id_Category}}">
                <img src="/imgs/uploads/{{this.Image}}" alt="">
                <div>
                    <h5>{{truncateText this.Meta_title 80}}</h5>
                    <p>{{truncateText this.Meta_description 100}}</p>
                    <p class="date">{{formatDate this.Date}}</p>
                </div>
            </a>
            {{else}}
            <p>Không có bài viết nào.</p>
            {{/each}}
        </div>
    </div>
</div>


{{#fillHtmlContent 'js'}}
<script src="/js/detailnews.js"></script>
{{/fillHtmlContent}}