<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{{title}}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/category.css">
    <link rel="stylesheet" href="/css/detail.css">
    {{{_sections.css}}}
</head>

<body>
    <div class="card border">
        <header>
            <ul class="left">
                <li>
                    <a href="#"><i class="bi bi-list"></i></a>
                </li>
                <li>
                    <button type="button" class="search-icon" onclick="searchClick()"><i
                            class="bi bi-search"></i></button>
                </li>

            </ul>
            <div class="middle">
                <a href="/"><img src="/imgs/main/logokonen.png"></a>
            </div>
            <ul class="right">
                {{!-- <a href="/account/login">
                    <li>
                        Đăng nhập
                    </li>
                </a>
                <a href="/account/register">
                    <li>
                        Đăng ký
                    </li>
                </a> --}}
                {{#if auth}}
                <li>
                    <a>Xin chào, {{authUser.Name}}</a>
                </li>
                <li>
                    {{!-- <a href="/account/logout">Đăng xuất</a> --}}
                    <a href="/account/logout" onclick="handleLogout(event)">Đăng xuất</a>
                </li>
                {{else}}
                <a href="/account/login">
                    <li>
                        Đăng nhập
                    </li>
                </a>
                <a href="/account/register">
                    <li>
                        Đăng ký
                    </li>
                </a>
                {{/if}}
            </ul>
        </header>
        {{!-- <nav id="nav">
            <ul id="nav-ul">
                <a href="#">
                    <li class="thoi-su">Thời sự</li>
                </a>
                <a href="#">
                    <li class="kinh-doanh">Kinh doanh </li>
                </a>
                <a href="#">
                    <li class="khoa-hoc">Khoa học </li>
                </a>
                <a href="#">
                    <li class="the-thao">Thể thao </li>
                </a>
                <a href="#">
                    <li class="giao-duc">Giáo dục </li>
                </a>
                <a href="#">
                    <li class="doi-song">Đời sống </li>
                </a>
                <a href="#">
                    <li class="the-gioi">Thế giới </li>
                </a>
                <a href="#">
                    <li class="bat-dong-san">Bất động sản</li>
                </a>
                <a href="#">
                    <li class="giai-tri">Giải trí </li>
                </a>
                <a href="#">
                    <li class="phap-luat">Pháp luật </li>
                </a>
                <a href="#">
                    <li class="suc-khoe">Sức khỏe </li>
                </a>
                <a href="#">
                    <li class="du-lich">Du lịch </li>
                </a>
            </ul>


            <div id="subnav">
                <ul hidden id="thoi-su">
                    <a href="#">
                        <li>Chính trị</li>
                    </a>
                    <a href="#">
                        <li>Dân sinh</li>
                    </a>
                    <a href="#">
                        <li>Lao động - Việc làm</li>
                    </a>
                    <a href="#">
                        <li>Giao thông</li>
                    </a>
                </ul>
                <ul hidden id="kinh-doanh">
                    <a href="#">
                        <li>NetZero</li>
                    </a>
                    <a href="#">
                        <li>Quốc tế</li>
                    </a>
                    <a href="#">
                        <li>Doanh nghiệp</li>
                    </a>
                    <a href="#">
                        <li>Chứng khoáng</li>
                    </a>
                    <a href="#">
                        <li>E-bank</li>
                    </a>
                </ul>
                <ul hidden id="khoa-hoc">
                    <a href="#">
                        <li>Khoa học trong nước</li>
                    </a>
                    <a href="#">
                        <li>Chỉ số PII</li>
                    </a>
                    <a href="#">
                        <li>Tin tức</li>
                    </a>
                    <a href="#">
                        <li>Phát minh</li>
                    </a>
                    <a href="#">
                        <li>Ứng dụng</li>
                    </a>
                    <a href="#">
                        <li>Thế giới tự nhiên</li>
                    </a>
                </ul>
                <ul hidden id="the-thao">
                    <a href="#">
                        <li>Bóng đá</li>
                    </a>
                    <a href="#">
                        <li>Lịch thi đấu</li>
                    </a>
                    <a href="#">
                        <li>Marathon</li>
                    </a>
                    <a href="#">
                        <li>Tennis</li>
                    </a>
                    <a href="#">
                        <li>Các môn khác</li>
                    </a>
                </ul>
                <ul hidden id="giao-duc">
                    <a href="#">
                        <li>Tin tức</li>
                    </a>
                    <a href="#">
                        <li>Tuyển sinh</li>
                    </a>
                    <a href="#">
                        <li>Chân dung</li>
                    </a>
                    <a href="#">
                        <li>Học tiếng Anh</li>
                    </a>
                    <a href="#">
                        <li>Giáo dục 4.0</li>
                    </a>
                </ul>
                <ul hidden id="doi-song">
                    <a href="#">
                        <li>Nhịp sống</li>
                    </a>
                    <a href="#">
                        <li>Tổ ấm</li>
                    </a>
                    <a href="#">
                        <li>Bài học sống</li>
                    </a>
                    <a href="#">
                        <li>Nấu ăn</li>
                    </a>
                    <a href="#">
                        <li>Tiêu dùng</li>
                    </a>
                </ul>
                <ul hidden id="the-gioi">
                    <a href="#">
                        <li>Bầu cử tổng thông Mỹ</li>
                    </a>
                    <a href="#">
                        <li>Tu</li>
                    </a>
                    <a href="#">
                        <li>Phân tích</li>
                    </a>
                    <a href="#">
                        <li>Quân sự</li>
                    </a>
                </ul>
                <ul hidden id="bat-dong-san">
                    <a href="#">
                        <li>Chính sách</li>
                    </a>
                    <a href="#">
                        <li>Thị trường</li>
                    </a>
                    <a href="#">
                        <li>Dự án</li>
                    </a>
                    <a href="#">
                        <li>Không gian sống</li>
                    </a>
                </ul>
                <ul hidden id="giai-tri">
                    <a href="#">
                        <li>Giới sao (idol/star)</li>
                    </a>
                    <a href="#">
                        <li>Sách</li>
                    </a>
                    <a href="#">
                        <li>Phim</li>
                    </a>
                    <a href="#">
                        <li>Phim</li>
                    </a>
                    <a href="#">
                        <li>Nhạc</li>
                    </a>
                    <a href="#">
                        <li>Thời trang</li>
                    </a>
                    <a href="#">
                        <li>Làm đẹp</li>
                    </a>
                    <a href="#">
                        <li>Mỹ thuật</li>
                    </a>
                </ul>
                <ul hidden id="phap-luat">
                    <a href="#">
                        <li>Hồ sơ phá án</li>
                    </a>
                    <a href="#">
                        <li>Tư vấn</li>
                    </a>
                </ul>
                <ul hidden id="suc-khoe">
                    <a href="#">
                        <li>Tin tức</li>
                    </a>
                    <a href="#">
                        <li>Sống khỏe</li>
                    </a>
                    <a href="">
                        <li>Vaccine</li>
                    </a>
                    <a href="">
                        <li>Các bệnh</li>
                    </a>
                </ul>
                <ul hidden id="du-lich">
                    <a href="#">
                        <li>Điểm đến</li>
                    </a>
                    <a href="#">
                        <li>Ẩm thực</li>
                    </a>
                    <a href="#">
                        <li>Dấu chân</li>
                    </a>
                    <a href="#">
                        <li>Tư vấn</li>
                    </a>
                    <a href="#">
                        <li>Cẩm nang</li>
                    </a>
                </ul>


            </div>
        </nav> --}}


        <nav id="nav">
            <ul id="nav-ul">
                {{#each lcCategories}}
                <a href="/category/{{Id_Category}}">
                    <li class="{{toLowerCase Name}}">{{Name}}</li>
                </a>
                {{/each}}
            </ul>

            <div id="subnav">
                {{#each lcCategories}}
                <ul hidden id="{{toLowerCase Name}}">
                    {{#each SubCategories}}
                    <a href="/category/{{../Id_Category}}/{{Id_SubCategory}}">
                        <li>{{Name}}</li>
                    </a>
                    {{/each}}
                </ul>
                {{/each}}
            </div>
        </nav>

        {{{body}}}

        <footer>
            <a class="left" href="#">
                <img src="/imgs/main/logokonen.png">
            </a>
            <div class="right">
                {{!-- <ul class="right-top">
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Thời sự</a></li>
                    <li><a href="#">Kinh doanh</a></li>
                    <li><a href="#">Khoa học</a></li>
                    <li><a href="#">Thể thao</a></li>
                    <li><a href="#">Giáo dục</a></li>
                    <li><a href="#">Đời sống</a></li>
                    <li><a href="#">Thế giới</a></li>
                    <li><a href="#">Bất động sản</a></li>
                    <li><a href="#">Giải trí</a></li>
                    <li><a href="#">Pháp luật</a></li>
                    <li><a href="#">Sức khỏe</a></li>
                    <li><a href="#">Du lịch</a></li>
                </ul> --}}
                <ul class="right-top">
                    <li><a href="/">Trang chủ</a></li>
                    {{#each lcCategories}}
                    <li><a href="/category/{{Id_Category}}">{{formatName Name}}</a></li>
                    {{/each}}
                </ul>
                <ul class="right-center">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Thông tin liên hệ</a></li>
                    <li><a href="#">Đóng góp ý kiến</a></li>
                    <li><a href="#">Hỗ trợ khả năng về truy cập</a></li>
                    <li><a href="#">Điều khoản sử dụng</a></li>
                    <li><a href="#">Dữ liệu người dùng</a></li>
                    <li><a href="#">Cookie</a></li>
                </ul>
            </div>
            <p class="right-bot">NewHubs không chịu trách nhiệm về nội dung của các trang web bên ngoài.<a href="#"
                    class="pl-2">Đọc thêm về điều khoản</a></p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
    <script src="/js/scriptMain.js"></script>
    <script src="/js/detail.js"></script>
    {{{_sections.js}}}
</body>

</html>