{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/detailnews.css">
<link rel="stylesheet" href="/css/home.css">
{{/fillHtmlContent}}

{{#fillHtmlContent 'js'}}
<script src="/js/detailnews.js"></script>
{{/fillHtmlContent}}

<div class="card-body pr-0 pl-0" id="body">
    <!-- Tin tức nổi bật & top 10 categories -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8" style="background-color: transparent;">
                <div class="row">
                    {{#if firstNewstopViewedNews}}
                    <a class="grid-head" href="/news/news?id={{firstNewstopViewedNews.Id_News}}"
                        style="background-color: white;">
                        <img src="/imgs/home/donal.jpg"
                            class="img-grid-head img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                            alt="">
                        <div class="content-grid-head">
                            <h4>{{truncateText firstNewstopViewedNews.Meta_title 45}}</h4>
                            <!-- Tiêu đề bài viết đầu tiên -->
                            <p>{{truncateText firstNewstopViewedNews.Meta_description 200}}</p>
                            <!-- Mô tả bài viết đầu tiên -->
                            <p class="date">
                                {{formatDate firstNewstopViewedNews.Date}} <!-- Ngày bài viết đầu tiên -->
                            </p>
                        </div>
                    </a>
                    {{/if}}
                </div>
                <div id="article_list">
                    <!-- Hiển thị 3 bài viết tiếp theo -->
                    {{#each News234stopViewedNews}}
                    <div class="article-list-element">
                        <a href="/news/news?id={{this.Id_News}}">
                            <img src="/imgs/home/bv.jpg" class="img-fluid" alt="">
                            <div class="article-list-content">
                                <h5>{{truncateText this.Meta_title 45}}</h5> <!-- Tiêu đề bài viết -->
                                <p>{{truncateText this.Meta_description 135}}</p> <!-- Mô tả bài viết -->
                                <p class="date">
                                    {{formatDate this.Date}} <!-- Ngày bài viết -->
                                </p>
                            </div>
                        </a>
                    </div>
                    {{/each}}
                </div>
            </div>


            <div class="col-sm-4">
                <div class="card mb-3 shadow-sm" id="article_top10">
                    <div class="list-group list-group-flush">
                        {{#each topCategories}}
                        <a class="card-body" href="/news/news?id={{this.latestNews.Id_News}}">
                            <div class="category">{{this.CategoryName}}</div>
                            <h6>{{truncateText this.latestNews.Meta_title 45}}</h6>
                            <!-- Tiêu đề bài viết mới nhất -->
                            <p>{{truncateText this.latestNews.Meta_description 200}}</p>
                            <!-- Mô tả bài viết -->
                            <div class="date">{{formatDate this.latestNews.Date}}</div> <!-- Ngày bài viết -->
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 10 bài viết nổi bật liên quan tới chuyên mục c1 của bài viết hiện tại -->
    <div id="article-related">
        <div class="title red">
            <h4 style="color: white;">10 news view cao nhất mọi danh mục trong 1 tháng</h4>
            <div class="button-flex">
                <button onclick="scrollNext('bai-viet-noi-bat', 'very-first', -1)"
                    style="color: white;">Previous</button>
                <button onclick="scrollNext('bai-viet-noi-bat', 'very-first')" style="color: white;">Next</button>
            </div>
        </div>
        <div class="top-article" id="bai-viet-noi-bat">
            {{#each topViewedAllTime}}
            <a class="articles" id="very-first" href="/news/news?id={{this.Id_News}}">
                <img src="/imgs/detail/suôi thầu.jpg" alt="...">
                <div class="card-body">
                    <h5>{{truncateText this.Meta_title 50}}</h5>
                    <p>{{truncateText this.Meta_description 145}}</p>
                </div>
            </a>
            {{else}}
            <p>Không có bài viết nào.</p>
            {{/each}}
        </div>
    </div>





    <!-- Category nổi bật nhất -->
    <div class="container-fluid">
        <div class="title-parent">
            <h5 class="title font-weight-bold">{{topCategory.CategoryName}}</h5>
            <h5 class="title font-weight-bold">Top 10 danh sách bài viết mới nhất</h5>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card shadow-sm">
                    <div class="article-small">
                        {{#each News234getTopNewsFromTopCategory}}
                        <a class="article" href="/news/news?id={{this.Id_News}}">
                            <div class="content">
                                <h5>{{truncateText this.Meta_title 70}}</h5> <!-- Tiêu đề bài viết -->
                                <p>{{truncateText this.Meta_description 180}}</p> <!-- Mô tả bài viết -->
                                <p class="date">{{formatDate this.Date}}</p> <!-- Ngày bài viết -->
                            </div>
                        </a>

                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card shadow-sm">
                    {{#if firstNewsgetTopNewsFromTopCategory}} <!-- Kiểm tra xem có bài viết đầu tiên không -->
                    <a class="article-big" href="/news/news?id={{firstNewsgetTopNewsFromTopCategory.Id_News}}">
                        <img src="/imgs/home/donal.jpg">
                        <div class="article-big-content">
                            <h4>{{truncateText firstNewsgetTopNewsFromTopCategory.Meta_title 65}}</h4>
                            <p>{{truncateText firstNewsgetTopNewsFromTopCategory.Meta_description 200}}</p>
                            <p class="date">{{formatDate firstNewsgetTopNewsFromTopCategory.Date}}</p>

                        </div>
                    </a>
                    {{/if}}
                </div>
            </div>



            <div class="col-sm-4">
                <div class="card mb-3 shadow-sm" id="article_top10_2">
                    <div class="list-group list-group-flush">
                        {{#each top10NewsRecent}}
                        <a class="card-body" href="/news/news?id={{this.Id_News}}">
                            <div class="category">{{this.CategoryName}}</div>
                            <h6>{{truncateText this.Meta_title 50}}</h6>
                            <p>{{truncateText this.Meta_description 150}}</p>
                            <div class="date">
                                <div>{{formatDate this.Date}}</div>
                            </div>
                        </a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Category du lịch -->
    <div class="container-fluid" id="article_tour">
        <h5 class="title font-weight-bold">Du lịch</h5>
        <div id="article_outer">
            {{#if firstNewsRecentTravelNews}}
            <a href="/news/news?id={{firstNewsRecentTravelNews.Id_News}}">
                <img src="/imgs/home/suôi thầu.jpg">
            </a>
            {{/if}}
            <div class="article-title">
                {{#if firstNewsRecentTravelNews}}
                <a class="article-title-content" href="/news/news?id={{firstNewsRecentTravelNews.Id_News}}"
                    style="padding-right: 2em;">
                    <h3>{{truncateText firstNewsRecentTravelNews.Meta_title 70}}</h3>
                    <p>{{truncateText firstNewsRecentTravelNews.Meta_description 280}}</p>
                    <p class="date">
                        {{formatDate firstNewsRecentTravelNews.Date}}
                    </p>
                </a>
                {{/if}}

                <a class="media position-relative" id="article-inner"
                    href="/news/news?id={{SecondNewsRecentTravelNews.Id_News}}">
                    {{#if SecondNewsRecentTravelNews}}
                    <div class="media-body article-inner-content-right">
                        <h5>{{truncateText SecondNewsRecentTravelNews.Meta_title 40}}</h5>
                        <p>{{truncateText SecondNewsRecentTravelNews.Meta_description 140}}</p>
                        <p class="date">{{formatDate SecondNewsRecentTravelNews.Date}}</p>
                    </div>


                    <img class="article-inner-image" src="/imgs/home/suôi thầu2.jpg" alt="...">
                    {{/if}}
                </a>
            </div>
        </div>
    </div>



    <!-- Category sức khỏe -->
    <div class="container-fluid" id="article_tour">
        <h5 class="title font-weight-bold">Sức khỏe</h5>
        <div id="article_outer">
            <div class="article-title">
                {{#if firstNewsRecentHealthNews}}
                <a class="article-title-content" href="/news/news?id={{firstNewsRecentHealthNews.Id_News}}"
                    style="padding-left: 2em;">
                    <h3>{{truncateText firstNewsRecentHealthNews.Meta_title 70}}</h3>
                    <p>{{truncateText firstNewsRecentHealthNews.Meta_description 280}}</p>
                    <p class="date">
                        {{formatDate firstNewsRecentHealthNews.Date}}
                    </p>
                </a>
                {{/if}}
                <a class="media position-relative" id="article-inner"
                    href="/news/news?id={{SecondNewsRecentHealthNews.Id_News}}">
                    {{#if SecondNewsRecentHealthNews}}
                    <img class="article-inner-image" src="/imgs/home/suôi thầu2.jpg" alt="...">
                    <div class="media-body article-inner-content-left">
                        <h5>{{truncateText SecondNewsRecentHealthNews.Meta_title 40}}</h5>
                        <p>{{truncateText SecondNewsRecentHealthNews.Meta_description 140}}</p>
                        <p class="date">{{formatDate SecondNewsRecentHealthNews.Date}}</p>
                    </div>
                    {{/if}}
                </a>
            </div>
            {{#if firstNewsRecentHealthNews}}
            <a href="/news/news?id={{firstNewsRecentHealthNews.Id_News}}">
                <img src="/imgs/home/suôi thầu.jpg">
            </a>
            {{/if}}
            </>
        </div>
    </div>
    <!-- 10 bài viết nổi bật liên quan tới chuyên mục c1 của bài viết hiện tại -->
    <div id="article-related">
        <div class="title red">
            <h4 style="color: white;">Top 10 bài viết mới nhất của chuyên mục nổi bật nhì</h4>
            <div class="button-flex">
                <button onclick="scrollNext('bai-viet-moi-nhat', 'very-second', -1)"
                    style="color: white;">Previous</button>
                <button onclick="scrollNext('bai-viet-moi-nhat', 'very-second')" style="color: white;">Next</button>
            </div>
        </div>
        <div class="top-article" id="bai-viet-moi-nhat">
            {{#each latestNewsFromTop2Category}}
            <a href="/news/news?id={{this.Id_News}}" class="articles" id="very-second">
                <img src="/imgs/detail/suôi thầu.jpg" alt="...">
                <div class="card-body">
                    <h5>{{truncateText this.Meta_title 50}}</h5>
                    <p>{{truncateText this.Meta_description 120}}</p>
                </div>
            </a>
            {{else}}
            <p>Không có bài viết nào.</p>
            {{/each}}
        </div>
    </div>



    <!-- Chuyên mục chính trị -->
    <div class="container-fluid">
        <h5 class="title font-weight-bold">{{top3Category.CategoryName}}</h5>
        <div class="border-danger">
            <div class="cata-politic">
                <a class="politic-left" href="/news/news?id={{firstNewsFromTop3Category.Id_News}}">
                    <img src="/imgs/home/donal.jpg">
                    <div class="content">
                        <h3 class="font-weight-bold">{{truncateText firstNewsFromTop3Category.Meta_title 100}}</h3>
                        <p>{{truncateText firstNewsFromTop3Category.Meta_description 200}}</p>
                        <p class="date">{{formatDate firstNewsFromTop3Category.Date}}</p>
                    </div>
                </a>

                <div class="politic-right">
                    {{#each secondNewsFromTop3Category}}
                    <a class="politic-article" href="/news/news?id={{this.Id_News}}">
                        <div class="content">
                            <h5>{{truncateText this.Meta_title 90}}</h5> <!-- Tiêu đề bài viết -->
                            <p>{{truncateText this.Meta_description 200}}</p> <!-- Mô tả bài viết -->
                            <p class="date">{{formatDate this.Date}}</p> <!-- Ngày bài viết -->
                        </div>
                        <img src="/imgs/home/bv.jpg">
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>