{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/editor/style_article.css">
{{/fillHtmlContent}}
<nav>
    <div class="filter">
        <button type="button" id="premium-toggle" onclick="togglePremium('{{news.Id_News}}')">
            {{#if news.Premium}}
            Chuyển sang Free
            {{else}}
            Chuyển sang Premium
            {{/if}}
        </button>
    </div>
    <div class="filter">
        {{#if (eq news.Id_Status 'STS0001')}}
        <button type="button" onclick="updateStatus('{{news.Id_News}}', 'STS0003')">
            <i class="bi bi-check2-all"></i>
            Chưa đạt
        </button>
        <button type="button" onclick="showRejectionInput()">
            <i class="bi bi-check2-all"></i>
            Từ chối
        </button>
        <div id="rejectionContainer" style="display: none;">
            <input type="text" id="rejectionReason" placeholder="Nhập lý do từ chối" />
            <button onclick="submitRejectionReason('{{news.Id_News}}')">Gửi</button>
        </div>



        {{else if (eq news.Id_Status 'STS0002')}}
        <button type="button" onclick="updateStatus('{{news.Id_News}}', 'STS0001')">
            <i class="bi bi-check2-all"></i>
            Đồng ý
        </button>
        <button type="button" onclick="updateStatus('{{news.Id_News}}', 'STS0003')">
            <i class="bi bi-arrow-right"></i>
            Chưa đạt
        </button>
        <button type="button" onclick="showRejectionInput()">
            <i class="bi bi-x-circle"></i>
            Từ chối
        </button>
        <div id="rejectionContainer" style="display: none;">
            <input type="text" id="rejectionReason" placeholder="Nhập lý do từ chối" />
            <button onclick="submitRejectionReason('{{news.Id_News}}')">Gửi</button>
        </div>




        {{else if (eq news.Id_Status 'STS0003')}}
        <button type="button" onclick="updateStatus('{{news.Id_News}}', 'STS0001')">
            <i class="bi bi-x-circle"></i>
            Đồng ý
        </button>
        <button type="button" onclick="showRejectionInput()">
            <i class="bi bi-arrow-right"></i>
            Từ chối
        </button>
        <div id="rejectionContainer" style="display: none;">
            <input type="text" id="rejectionReason" placeholder="Nhập lý do từ chối" />
            <button onclick="submitRejectionReason('{{news.Id_News}}')">Gửi</button>
        </div>




        {{!-- {{else if (eq news.Id_Status 'STS0004')}}
        <button type="button" onclick="updateStatus('{{news.Id_News}}', 'STS0004')">
            <i class="bi bi-x-circle"></i>
            Từ chối
        </button> --}}


        {{/if}}
        <button type="button" onclick="window.location.href='/editor/list-article'">
            <i class="bi bi-arrow-right"></i>
            Quay lại
        </button>
    </div>

</nav>





<div id="article">
    <h5>{{news.Title}}</h5>
    <div class="b_title">
        <div class="date">
      
            <form action="/editor/article/update-date" method="post">
                <input type="hidden" name="id_news" value="{{news.Id_News}}"> <!-- Ẩn trường Id_News -->
                <label for="date">Cập nhật thời gian đăng bài:</label>
                <input type="date" name="date" id="date" value="{{formatUpdateDateOfArticleInEditor news.Date}}">
                <!-- Trường nhập liệu cho ngày -->
                <button type="submit">Cập nhật</button> <!-- Nút gửi -->
            </form>
        </div>
        <div class="author">
            <a>Tác giả: {{news.Pen_Name}}</a>

        </div>
    </div>
    <img src="/imgs/detail/bv.jpg">
    <div class="content">
        <p>The sound of war is loud at night in Beirut’s eastern Achrafieh neighbourhood.
            Residents can hear Israeli air strikes hitting the Lebanese capital’s southern suburbs, known as
            Dahieh. Some can even see the explosions lighting up the sky from their balconies.
            However, on the streets it is quiet. Volunteers in uniform are patrolling the predominantly
            Christian neighbourhood holding walkie-talkies to co-ordinate their operation.
            The neighbourhood watch was formed a few years ago following the financial crisis that hit
            Lebanon to reassure residents worried about crime. But with recent developments, the mission has
            changed.
            "We have concerns with displaced people who are coming in huge numbers to Beirut, and they have
            a lot of needs, and it is very complicated,” says Nadim Gemayel, who formed the organisation
            behind the neighbourhood watch.
            Communities across Lebanon rallied to help house and feed the hundreds of thousands of families
            who were displaced when Israel escalated its air campaign against Hezbollah last month before
            launching a ground invasion of the south.
            However, an influx of people from the predominantly Shia Muslim areas where the Iran-backed
            group has a strong presence - Dahieh, south Lebanon, and the Bekaa Valley in the east - into
            places which are majority Sunni Muslim and Christian also risk exacerbating sectarian divisions
            in a country where memories of the 1975-1990 civil war are still vivid.
            Recent Israeli attacks on those areas has only served to heighten tensions between residents and
            the displaced.
            A strike on 14 October in the northern town of Aitou, which killed 23 displaced people, shook
            the Christian community.
        </p>
        <img src="/imgs/detail/bv.jpg">
        <p>
            The sound of war is loud at night in Beirut’s eastern Achrafieh neighbourhood.
            Residents can hear Israeli air strikes hitting the Lebanese capital’s southern suburbs, known as
            Dahieh. Some can even see the explosions lighting up the sky from their balconies.
            However, on the streets it is quiet. Volunteers in uniform are patrolling the predominantly
            Christian neighbourhood holding walkie-talkies to co-ordinate their operation.
            The neighbourhood watch was formed a few years ago following the financial crisis that hit
            Lebanon to reassure residents worried about crime. But with recent developments, the mission has
            changed.
            "We have concerns with displaced people who are coming in huge numbers to Beirut, and they have
            a lot of needs, and it is very complicated,” says Nadim Gemayel, who formed the organisation
            behind the neighbourhood watch.
            Communities across Lebanon rallied to help house and feed the hundreds of thousands of families
            who were displaced when Israel escalated its air campaign against Hezbollah last month before
            launching a ground invasion of the south.
            However, an influx of people from the predominantly Shia Muslim areas where the Iran-backed
            group has a strong presence - Dahieh, south Lebanon, and the Bekaa Valley in the east - into
            places which are majority Sunni Muslim and Christian also risk exacerbating sectarian divisions
            in a country where memories of the 1975-1990 civil war are still vivid.
            Recent Israeli attacks on those areas has only served to heighten tensions between residents and
            the displaced.
            A strike on 14 October in the northern town of Aitou, which killed 23 displaced people, shook
            the Christian community.
        </p>
        <img src="/imgs/detail/bv.jpg">
        <p>
            Many here believe that Israel won’t stop until Hezbollah is completely disarmed.
            "Either all Lebanon will be destroyed by Israel which will be catastrophic, or they [Hezbollah]
            surrender and give up their arms, and we build a Lebanese state that will be based on the Taif
            agreement, and everyone has equal rights and obligations," says Nadim Gemayel.
        </p>
    </div>


</div>

{{!--
<script>
    function RejectedArticle() {
        var x = document.getElementById("RejectedArticle-Div");
        if (x.style.display === "none") {
            x.style.display = "flex";
        } else {
            x.style.display = "none";
        }
    }


</script> --}}

{{!--
</body>

</html> --}}

{{#fillHtmlContent 'js'}}
<script src="/js/scriptEditor.js"></script>
{{/fillHtmlContent}}