{{!-- {{> headerEditor}} --}}
{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/inforuser.css">
{{/fillHtmlContent}}
<div class="container">

    <div class="user-info">
        <h2>Thông tin của {{editor.Name}}</h2>
        <form id="update-form" method="POST" action="/inforeditor/update" class="informoderator">
            <input type="hidden" id="name" name="id_user" value="{{editor.Id_User}}" required>
            <label for="last-name">
                Họ và tên
                <input type="text" id="name" name="name" value="{{editor.Name}}" required>
            </label>

            <label for="email">
                Email
                <input type="email" id="email" name="email" value="{{editor.Email}}" readonly>
            </label>

            <label for="dob">
                Ngày sinh
                <input type="date" id="birthday" name="birthday" value="{{editor.Birthday}}" required>
            </label>

            <label for="password">
                Mật khẩu
                <input type="password" id="password" name="password" value="">
            </label>

            <label for="password-confirm">
                Nhập lại mật khẩu
                <input type="password" id="password-confirm" name="confirm_password" value="">
            </label>

            <label for="account-type">
                Loại tài khoản
                <input type="text" id="account-type" value="Biên tập viên" disabled>
            </label>

            <button type="submit" class="save-btn">Lưu thông tin</button>
            <button id="back-btn" class="back-btn">Trở về trang chủ</button>
        </form>
    </div>

</div>


{{#fillHtmlContent 'js'}}
<script src="/js/scriptInforEditor.js"></script>
{{/fillHtmlContent}}