{{> headerEditor}}

{{!-- <nav>
    <div class="search">
        <input type="text" placeholder="Nhập tác giả cần tìm...">
        <button type="button">
            <i class="bi bi-search"></i></button>
    </div>
</nav> --}}
<br>
<div id="body" class="moderator-list">
    <table width="100%">
        <thead>
            <tr>
                <th>STT</th>

                <th>Bút danh</th>
                <th>Bài viết đã duyệt</th>
                <th>Bài viết chờ phê duyệt</th>
                <th>Bài viết chưa đạt</th>
                <th>Bài viết bị từ chối</th>
            </tr>
        </thead>
        <tbody>
            {{#each writers}}
            <tr>
                <td>{{@index}}</td>

                <td>{{this.Pen_Name}}</td>
                <td>{{this.approved}}</td>
                <td>{{this.pending}}</td>
                <td>{{this.not_passed}}</td>
                <td>{{this.rejected}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>