{{> headerEditor}}

{{!-- <nav>
    <div class="search">
        <input type="text" placeholder="Nhập tin cần tìm...">
        <button type="button">
            <i class="bi bi-search"></i></button>
    </div>
    <div class="filter">
        <button class="btn">
            <i class="bi bi-arrow-clockwise"></i>
            Chờ duyệt</button>
        <button class="btn">
            <i class="bi bi-check2-all"></i>
            Đã đăng</button>
        <button class="btn">
            <i class="bi bi-x-circle"></i>
            Từ chối</button>
    </div>
</nav> --}}
<br>
<div id="body" class="moderator-list">
    <table width="100%">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Tác giả</th>
                <th>Ngày đăng</th>
                <th>Lý do từ chối</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.Title}}</a></td>
                <td>{{this.Pen_Name}}</td>
                <td>{{formatDateAndTime this.Date}}</td>
                <td>{{this.Reason}}</td> <!-- Hiển thị lý do từ chối -->
            </tr>
            {{/each}}
            {{!-- <tr>
                <td>2</td>
                <td class="title"><a href="">Bỏ đấu thầu giá sau khi trả 30 tỷ đồng cho một m2 ở Hà Nội</a></td>
                <td>Võ Hải</td>
                <td>
                    <input type="checkbox" name="check_articles">
                </td>
                <td>
                    <span class="rejected">Từ chối</span>
                </td>
                <td>Tin không đúng sự thật</td>
            </tr> --}}

        </tbody>
    </table>
</div>