{{> headerEditor}}

{{!-- <nav>
    <div class="search">
        <button type="button">
            <i class="bi bi-list-ul"></i>
            Trở về danh sách bài viết
        </button>
    </div>
    <div class="filter">

    </div>
</nav> --}}
<br>
<div id="body" class="moderator-list">
    <table width="100%">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Tác giả</th>
                <th>Ngày đăng</th>
                <th>Lý do từ chối</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.Title}}</a></td>
                <td>{{this.Pen_Name}}</td>
                <td>{{formatDateAndTime this.Date}}</td>
                <td>{{this.Reason}}</td> <!-- Hiển thị lý do từ chối -->
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>