{{!-- {{> headerEditor}} --}}
{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/inforuser.css">
{{/fillHtmlContent}}
<div class="container">

    <div class="user-info">
        <h2>Thông tin của {{writer.Name}}</h2>
        <form id="update-form" method="POST" action="/inforwriter/update">
            <input type="hidden" id="name" name="id_user" value="{{writer.Id_User}}" required>
            <label for="last-name">Họ và tên</label>
            <input type="text" id="name" name="name" value="{{writer.Name}}" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="{{writer.Email}}" readonly>

            <label for="dob">Ngày sinh</label>
            <input type="date" id="birthday" name="birthday" value="{{writer.Birthday}}" required>

            <label for="password">Mật khẩu</label>
            <input type="password" id="password" name="password" value="">

            <label for="password-confirm">Nhập lại mật khẩu</label>
            <input type="password" id="password-confirm" name="confirm_password" value="">

            <label for="account-type">Loại tài khoản</label>


            <input type="text" id="account-type" value="Nhà báo" disabled>


            <button type="submit" class="save-btn">Lưu thông tin</button>
          
        </form>
        <br>
        <button id="back-btn" class="back-btn" data-id="{{writer.Id_User}}">Trở về trang chủ</button>
    </div>

</div>


{{#fillHtmlContent 'js'}}
<script src="/js/scriptInforWriter.js"></script>
{{/fillHtmlContent}}