{{> headerWriter}}

{{!-- <nav>
    <div class="search">
        <input type="text" placeholder="Nhập tin cần tìm...">
        <button type="button">
            <i class="bi bi-search"></i></button>
    </div>
    <div class="filter">
        <button class="btn">
            <i class="bi bi-arrow-clockwise"></i>
            Chờ duyệt</button>
        <button class="btn">
            <i class="bi bi-check2-all"></i>
            Đã đăng</button>
        <button class="btn">
            <i class="bi bi-x-circle"></i>
            Từ chối</button>
    </div>
</nav> --}}
<br>

<div id="body" class="moderator-list">
    <table width="100%">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Ngày đăng</th>
                <th>Bài viết Premium</th>
                <th>Trạng thái</th>
                <th>Sửa đổi</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{@index}}</td>
                <td class="title">{{truncateText this.Title 50}}</td>
                <td>{{formatDateAndTime this.Date}}</td>
                <td>

                    <input type="checkbox" name="check_articles" {{#if this.Premium}}checked{{/if}} disabled>
                </td>
                <td>
                    {{#if (eq this.Id_Status 'STS0001')}}
                    <span>Đã đăng</span>
                    {{else if (eq this.Id_Status 'STS0002')}}
                    <span class="pending">Chờ duyệt</span>
                    {{else if (eq this.Id_Status 'STS0003')}}
                    <span class="check-later">Chưa đạt</span>
                    {{else if (eq this.Id_Status 'STS0004')}}
                    <span class="rejected">Từ chối</span>
                    {{#if this.Reason}} <!-- Kiểm tra xem có lý do không -->
                    <div class="reason">Lý do: {{this.Reason}}</div>
                    {{/if}}
                    {{/if}}
                </td>
                <td>
                    <a href="/writer/updatenews?id_news={{this.Id_News}}">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div>