<div class="body">
    <h2>
        {{category.Name}}
    </h2>
    <div class="parent1">
        <div class="child1">
            {{#with firstNews}}
            <a class="div1" href="/news/{{Id_News}}">
                <img alt="{{Meta_title}}" src="/imgs/category/mancity1.png">
                <h4>{{Meta_title}}</h4>
                <p>{{Meta_description}}</p>
            </a>
            {{/with}}

            <div class="triple-highlight">
                {{#each topNews}}
                <a class="highlight-element" href="/news/{{Id_News}}">
                    <img class="hinhanh-div" alt="{{Meta_title}}" src="/imgs/category/mancity1.png">
                    <p>{{Meta_title}}</p>
                </a>
                {{/each}}
            </div>
        </div>

        <div class="child2">
            {{#each otherNews}}
            <a class="div2" href="/news/{{Id_News}}">
                <div class="infor">
                    <h4>{{formatDate Date}}</h4>
                    <h6>{{Meta_title}}</h6>
                    <p>{{Meta_description}}</p>
                </div>
                <img src="/imgs/category/mancity1.png" alt="{{Meta_title}}" class="image-container">
            </a>
            {{/each}}
        </div>
    </div>
</div>