<div class="body">
    <h2>
        {{subcategory.Name}}
    </h2>
    <div class="parent1">
        <div class="child1">
            {{#with firstNews}}
            <a class="div1" href="/news/{{Id_News}}">
                <img alt="{{Meta_title}}" src="/imgs/category/mancity1.png">
                <h4>{{truncateText Meta_title 30}}</h4>
                <p>{{truncateText Meta_description 100}}</p>
                <p>{{formatDate Date}}</p>
            </a>
            {{/with}}

            <div class="triple-highlight">
                {{#each topNews}}
                <a class="highlight-element" href="/news/{{Id_News}}">
                    <img class="hinhanh-div" alt="{{Meta_title}}" src="/imgs/category/mancity1.png">
                    <p>{{truncateText Meta_title 30}}</p>
                    <h6>{{formatDate Date}}</h6>
                </a>
                {{/each}}
            </div>
        </div>

        <div class="child2">
            {{#each otherNews}}
            <a class="div2" href="/news/{{Id_News}}">
                <div class="infor">
                    <h4>{{formatDate Date}}</h4>
                    <h6>{{truncateText Meta_title 30}}</h6>
                    <p>{{truncateText Meta_description 100}}</p>
                </div>
                <img src="/imgs/category/mancity1.png" alt="{{Meta_title}}" class="image-container">
            </a>
            {{/each}}
        </div>
    </div>

    <div class="parent3">
        {{#each recentNews}}
        <a href="/news/{{Id_News}}" class="post">
            <p>{{timeAgo Date}}</p>
            <div class="content">
                <h4>{{truncateText Meta_title 30}}</h4>
                <p>
                    {{truncateText Meta_description 200}}
                </p>
                <div class="content-after">{{SubCategoryName}}</div>
            </div>
            <img src="/imgs/category/shintaeyong.webp" alt="{{Meta_title}}" class="image">
        </a>
        {{/each}}
    </div>
</div>