{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/category.css">
{{/fillHtmlContent}}

<div class="body">
    <h2>
        {{subcategory.Name}}
    </h2>
    <div class="parent1">
        <div class="child1">
            {{#with firstNews}}
            <a class="div1" href="/news/news?id={{Id_News}}&subcategory={{Id_SubCategory}}&category={{Id_Category}}">
                <img alt="{{Meta_title}}" src="/imgs/category/mancity1.png">
                <h4>{{truncateText Meta_title 50}}</h4>
                <p>{{truncateText Meta_description 200}}</p>
                <p>{{formatDate Date}}</p>
            </a>
            {{/with}}

            <div class="triple-highlight">
                {{#each topNews}}
                <a class="highlight-element"
                    href="/news/news?id={{Id_News}}&subcategory={{Id_SubCategory}}&category={{Id_Category}}">
                    <img class="hinhanh-div" alt="{{Meta_title}}" src="/imgs/category/mancity1.png">
                    <p>{{truncateText Meta_title 35}}</p>
                    <p>{{formatDate Date}}</p>
                </a>
                {{/each}}
            </div>
        </div>

        <div class="child2">
            {{#each otherNews}}
            <a class="div2" href="/news/news?id={{Id_News}}&subcategory={{Id_SubCategory}}&category={{Id_Category}}">
                <div class="infor">
                    <h4>{{formatDate Date}}</h4>
                    <h6>{{truncateText Meta_title 50}}</h6>
                    <p>{{truncateText Meta_description 120}}</p>
                </div>
                <img src="/imgs/category/mancity1.png" alt="{{Meta_title}}" class="image-container">
            </a>
            {{/each}}
        </div>
    </div>

    <div class="parent3">
        {{#each recentNews}}
        <a href="/news/news?id={{Id_News}}&subcategory={{Id_SubCategory}}&category={{Id_Category}}" class="post">
            <p>{{timeAgo Date}}</p>
            <div class="content">
                <h4>{{truncateText Meta_title 120}}</h4>
                <p>
                    {{truncateText Meta_description 300}}
                </p>
                <div class="content-after">{{SubCategoryName}}</div>
            </div>
            <img src="/imgs/category/shintaeyong.webp" alt="{{Meta_title}}" class="image">
        </a>
        {{/each}}
    </div>
    {{!-- phân trang --}}
    <div class="pagination" id="pagination">
        {{#if isFirstPage}}
        {{!-- Nếu là đầu trang thì không cho ấn --}}
        <a href="#">Previous</a>
        {{else}}
        <a href="/category/{{categoryId}}/{{subCategoryId}}?page={{previousPage}}">Previous</a>
        {{/if}}
       

        {{#each this.page_items}}
        {{#if isActive}}
        {{!-- Nếu là là chính trang đó thì không cho ấn --}}
        <a href="#" >{{value}}</a>

        {{else}}

        <a href="/category/{{../categoryId}}/{{../subCategoryId}}?page={{value}}">{{value}}</a>

        {{/if}}
        {{/each}}
         {{#if isLastPage}}
        {{!-- Nếu là cuối trang thì không cho ấn --}}
        <a href="#">Next</a>
        {{else}}
        <a href="/category/{{categoryId}}/{{subCategoryId}}?page={{nextPage}}">Next</a>
        {{/if}}
        <!-- Thêm các nút phân trang -->
    </div>
<<<<<<< Updated upstream
</div>
=======
</div>
>>>>>>> Stashed changes
