{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/admin/newsmanagement.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{{/fillHtmlContent}}
{{#fillHtmlContent 'js'}}
<script>
    let a = document.querySelectorAll('.status-select');
    a.forEach(status => {
        status.addEventListener("onchange", function (e) {
            switch (e.target.value) {
                case "STS0001":
                    status.classList.add('accepted');
                    status.classList.remove('not-yet');
                    status.classList.remove('not-enough');
                    status.classList.remove('rejected');
                    break;
                case "STS0002":
                    status.classList.remove('accepted');
                    status.classList.add('not-yet');
                    status.classList.remove('not-enough');
                    status.classList.remove('rejected');
                    break;
                case "STS0003":
                    status.classList.remove('accepted');
                    status.classList.remove('not-yet');
                    status.classList.add('not-enough');
                    status.classList.remove('rejected');
                    break;
                case "STS0004":
                    status.classList.remove('accepted');
                    status.classList.remove('not-yet');
                    status.classList.remove('not-enough');
                    status.classList.add('rejected');
                    break;
                default:
                    status.classList.remove('accepted');
                    status.classList.remove('not-yet');
                    status.classList.remove('not-enough');
                    status.classList.remove('rejected');
            }
        });
    })
</script>
{{/fillHtmlContent}}


{{> headerAdmin}}

<div class="container">
    <h1>Quản lý tất cả bài viết</h1>

    <table class="article-table">
        <thead>
            <tr>
                <th>Thời gian</th>
                <th>Staff</th>
                <th>Chuyên mục</th>
                <th>Chuyên mục cấp 2</th>
                <th>Tiêu đề bài viết</th>
                <th>Tag</th>
                <th>Lượt xem</th>
                <th>Tình trạng</th>
                <th>Chỉnh sửa</th>
            </tr>
        </thead>
        <tbody>
            {{#each newsDetails}}
            <tr>
                <td>{{formatDateNewsManagementAdmin this.Date}}</td>
                <!-- Giả sử bạn có helper formatDate để định dạng ngày -->
                <td>{{this.Pen_Name}}</td>
                <td>{{this.CategoryName}}</td>
                <td>{{this.SubCategoryName}}</td>
                <td>{{this.Title}}</td>
                <td>
                    {{#if this.Tags}}
                    {{this.Tags}} <!-- Hiển thị tên Tag -->
                    {{else}}
                    Không có Tag
                    {{/if}}
                </td>
                <td>{{this.Views}}</td>

                <td>
                    <select class="status-select" data-id="{{this.Id_News}}">
                        <option value="" disabled>Chọn trạng thái</option>
                        <option value="STS0001" {{#if (eq this.Id_Status 'STS0001' )}}selected{{/if}} class="accepted">
                            Đồng ý</option>
                        <option value="STS0002" {{#if (eq this.Id_Status 'STS0002' )}}selected{{/if}} class="not-yet">
                            Chưa duyệt</option>
                        <option value="STS0003" {{#if (eq this.Id_Status 'STS0003' )}}selected{{/if}}
                            class="not-enough">Chưa đạt</option>
                        <option value="STS0004" {{#if (eq this.Id_Status 'STS0004' )}}selected{{/if}} class="rejected">
                            Từ chối</option>
                    </select>
                </td>
                <td>

                    <button class="edit-button" data-id="{{this.Id_News}}">Cập nhật</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>



<script src="/js/newsmanagement.js"></script>
