{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/admin/usermanagement.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{{/fillHtmlContent}}

{{> headerAdmin}}

<div class="container">
    <h1>Quản lý thành viên</h1>


    <table class="report-table">
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Công việc</th>
                <th>Trạng thái tài khoản</th>
        
                <th>Chi Tiết</th>
            </tr>
        </thead>
        <tbody id="member-table-body">
            {{#each inforUser}}
            <tr>
                <td>{{this.Name}}</td>
                <td>{{formatDateInfor this.Birthday}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.Role}}</td>
                <td>
                    {{#if (eq this.Role 'Biên tập viên')}}
                    Còn hoạt động
                    {{else if (eq this.Role 'Nhà báo')}}
                    Còn hoạt động
                    {{else if (eq this.Role 'Thành viên')}}
                    Còn hoạt động
                    {{else if (eq this.Role 'Quản trị viên')}}
                    Còn hoạt động
                    {{else if (eq this.Role 'Chưa cấp quyền')}}
                    Không hoạt động

                    {{/if}}

                </td>
             
                <td>
                    <a href="/admin/admininforuser?id_user={{this.Id_User}}" class="detail-btn">Xem chi tiết</a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>



</div>

<!-- Modal -->
{{!-- <div id="confirmation-modal" class="modal">
    <div class="modal-content">
        <p>Bạn có chắc chắn muốn thay đổi trạng thái tài khoản này?</p>
        <button id="confirm-btn" class="modal-button">Xác nhận</button>
        <button id="cancel-btn" class="modal-button">Hủy</button>
    </div>
</div> --}}

