{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/admin/usermanagement.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{{/fillHtmlContent}}

{{> headerAdmin}}

<div class="container">
    <h1>Quản lý thành viên</h1>

    <table class="report-table">
        <thead>
            <tr>
                <th>Họ và tên</th>
                <th>Ngày sinh</th>
                <th>Email</th>
                <th>Công việc</th>
                <th>Trạng thái tài khoản</th>
                <th>Hoạt Động</th>
                <th>Chi Tiết</th>
            </tr>
        </thead>
        <tbody id="member-table-body">
            {{#each inforUser}}
            <tr>
                <td>{{this.Name}}</td>
                <td>{{formatDateInfor this.Birthday}}</td>
                <td>{{this.Email}}</td>
                <td>{{this.Role}}</td>
                <td>Còn hoạt động</td>
                <td>2 days ago</td>
                <td>
                    <a href="/admin/inforuser?id_user={{this.Id_User}}" class="detail-btn">Xem chi tiết</a>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>


    {{!-- <div class="pagination" id="pagination">
        <button class="prev">Prev</button>
        <button class="active">1</button>
        <button>2</button>
        <button>3</button>
        <button class="next">Next</button>
    </div> --}}
</div>