{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/searchnews.css">
{{/fillHtmlContent}}

<div class="body">
    <h2>Tìm Kiếm</h2>
    <div class="search-section">
        <div class="search-bar">
            <div class="input-container">
                <input type="text" placeholder="Tìm kiếm tin tức" value="{{query}}" id="searchInput" />
                <button id="searchButton">
                    <img src="/imgs/search/search-icon.png" alt="Search" />
                </button>
            </div>
        </div>
    </div>

    <h4 class="result-count">{{recentnews.length}} bài viết liên quan</h4>

    <div class="filter-section">
        <div class="filter-group">
            <label>Chuyên mục</label>
            <select id="category">
                <option value="">Chọn chuyên mục</option>
                {{#each categories}}
                <option value="{{Id_Category}}">{{Name}}</option>
                {{/each}}
            </select>

            <select id="subcategory">
                <option value="">Chọn chuyên mục cấp 2</option>
                {{!-- {{#each subcategories}}
                <option value="{{Id_SubCategory}}">{{Name}}</option>
                {{/each}} --}}
            </select>
        </div>

        <div class="filter-group">
            <label>Tag</label>
            {{!-- <input type="text" placeholder="#Tag" /> --}}
            <select id="tag" size="6">
                <option value="">Chọn tag</option>
                {{#each tags}}
                <option value="{{Id_Tag}}">{{Name}}</option>
                {{/each}}
            </select>

        </div>


        <div class="filter-group">
            <label>Thời gian từ</label>
            <input type="date" id="startDate" />
            <label>Thời gian đến</label>
            <input type="date" id="endDate" />
        </div>

        <button id="searchButtonCategory&Subcategory&Tag&Date">
            <img src="/imgs/search/search-icon.png" alt="SearchbyTag&Date" />
            {{!-- <a href="/search/searchByTagAndDate">Tìm kiếm</a> --}}
        </button>
    </div>

    


    <div class="parent3">

        {{#each recentnews}}
        <a href="#" class="post">
            <p>{{formatDate Date}}</p>
            <div class="content">
                <h4>{{Meta_title}}</h4>
                <p>
                    {{Meta_description}}
                </p>
                <p> </p>
                <p>
                    {{#each tags}}
                    <span class="tag">{{this.Name}}</span> <!-- Hiển thị tên tag -->
                    {{/each}}
                </p>
            </div>
            <img src="../../imgs/category/shintaeyong.webp" alt="" class="image">
        </a>
        {{/each}}

        {{!-- <a href="#" class="post">
            <p>10 hours ago</p>
            <div class="content">
                <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                <p>
                    Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                    lực
                    khủng
                    khiếp.
                    Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                </p>
            </div>
            <img src="../../imgs/category/shintaeyong.webp" alt="" class="image">
        </a>
        <a href="#" class="post">
            <p>10 hours ago</p>
            <div class="content">
                <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                <p>
                    Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                    lực
                    khủng
                    khiếp.
                    Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                </p>
            </div>
            <img src="../../imgs/category/shintaeyong.webp" alt="" class="image">
        </a>
        <a href="#" class="post">
            <p>10 hours ago</p>
            <div class="content">
                <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                <p>
                    Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                    lực
                    khủng
                    khiếp.
                    Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                </p>
            </div>
            <img src="../../imgs/category/shintaeyong.webp" alt="" class="image">
        </a>
        <a href="#" class="post">
            <p>10 hours ago</p>
            <div class="content">
                <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                <p>
                    Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                    lực
                    khủng
                    khiếp.
                    Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                </p>
            </div>
            <img src="../../imgs/category/shintaeyong.webp" alt="" class="image">
        </a>
        <a href="#" class="post">
            <p>10 hours ago</p>
            <div class="content">
                <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                <p>
                    Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                    lực
                    khủng
                    khiếp.
                    Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                </p>
            </div>
            <img src="../../imgs/category/shintaeyong.webp" alt="" class="image">
        </a> --}}


    </div>
</div>

{{#fillHtmlContent 'js'}}
<script src="/js/searchnews.js"></script>
{{/fillHtmlContent}}