<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writer Info</title>
    <link rel="stylesheet" href="/css/inforuser.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <!-- <div class="header">
        <a href="/views/vwadmin/Dashboard/dashboard.html" class="header-item">Dashboard</a>
        <a href="/views/vwadmin/QuanLyThanhVien/quanlythanhvien.html" class="header-item">Quản lý thành viên</a>
        <a href="/views/vwadmin/QuanLyBaiViet/quanlybaiviet.html" class="header-item">Quản lý bài viết</a>
        <a href="/views/vwadmin/QuanLyReport/quanlyreport.html" class="header-item">Quản lý report</a>
    </div> -->

    <div class="container">
        <div class="user-info">
            <h2>Thông tin của {{name}}</h2>
            <form id="update-form" method="POST" action="/inforuser/update">
                <label for="last-name">Họ và tên</label>
                <input type="text" id="last-name" name="name" value="{{name}}">

                <label for="email">Email</label>
                <input type="email" id="email" name="email" value="{{email}}" readonly>

                <label for="dob">Ngày sinh</label>
                <input type="date" id="dob" name="dob" value="{{birthday}}">

                <label for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" value="">

                <label for="password-confirm">Nhập lại mật khẩu</label>
                <input type="password" id="password-confirm" name="confirm_password" value="">

                <label for="account-type">Loại tài khoản</label>
                
                {{#if userInfo.subcriber.Date_register}}
                <input type="text" id="account-type" value="Thành viên đã đăng ký" disabled>
                {{else if userInfo.administrator}}
                <input type="text" id="account-type" value="Quản trị viên" disabled>
                {{else if userInfo.editor}}
                <input type="text" id="account-type" value="Biên tập viên" disabled>
                {{else if userInfo.writer}}
                <input type="text" id="account-type" value="Nhà báo" disabled>
                {{else}}
                <input type="text" id="account-type" value="Thành viên vãng lai" disabled>
                {{/if}}

                <button type="submit" class="save-btn">Lưu thông tin</button>
            </form>
            <br>
            <button id="back-btn" class="back-btn">Trở về trang chủ</button>
        </div>

        <div class="utility-containter">


            <div class="user-info">
                <h2>Thông tin của Thành viên - {{name}}</h2>
                <div class="user-stats">

                    <div class="stat pending">
                        <div class="stat-icon">
                            <h1><i class="bi bi-calendar-heart"></i></h1>
                        </div>
                        <div class="stat-content">
                            <p>Đã là thành viên trong</p>
                            <span class="number">
                                {{#if userInfo.subcriber.Date_register}}

                                {{formatCountDaysRegisterAndExpirationSubcriber userInfo.subcriber.Date_register
                                userInfo.subcriber.Date_expired}} ngày
                                {{else}}
                                0 ngày
                                {{/if}}
                            </span>
                        </div>
                        <div class="stat-arrow">
                            <span>&#x25B6;</span>
                        </div>
                    </div>



                    <div class="stat pending">
                        <div class="stat-icon">
                            <h1><i class="bi bi-calendar-x"></i></h1>
                        </div>
                        <div class="stat-content">
                            <p>Ngày hết hạn Premium</p>
                            <span class="number">
                                {{#if userInfo.subcriber.Date_expired}}
                                {{formatDayExpiredAccount userInfo.subcriber.Date_expired}}
                                {{else}}
                                Chưa có
                                {{/if}}
                            </span>
                        </div>
                        <div class="stat-arrow">
                            <span>&#x25B6;</span>
                        </div>
                    </div>
                </div>
                {{#if userInfo.subcriber.Date_register}}

                {{#if (eq userInfo.subcriber.Request 0)}}
                <form action="/inforuser/renew" method="post">
                    <button type="submit" class="stop-work">Gia hạn tiếp</button>
                </form>
                {{else}}
                <form>
                    <button type="submit" class="stop-work" disabled>Chờ được duyệt gia hạn tiếp</button>
                </form>
                {{/if}}

                {{else}}

                {{/if}}
            </div>


            <div class="utility-container">
                {{#if userInfo.administrator}}
                <a href="/admin/dashboard?id_user={{userInfo.Id_User}}">Quản trị viên</a>
                {{/if}}
                {{#if userInfo.editor}}
                <a href="/editor/home?id_user={{userInfo.Id_User}}">Biên tập viên</a>
                {{/if}}
                {{#if userInfo.writer}}
                <a href="/writer/home?id_user={{userInfo.Id_User}}">Nhà báo</a>
                {{/if}}
            </div>



        </div>
    </div>
    <script src="/js/inforuser.js"></script>
</body>

</html>